### 20.07.14_BioPython
    일시 : 2020/07/14
    강사님 : 김태윤 연구원님(마크로젠) 
    기록 : 조예슬
    내용 : 
         - Data Structure
         - 제어문

In [2]:
# 1.  String splicing

A='red apple'
B='yellow banana'

print(B[:6], A[4:])
print(A[:3], B[7:])

yellow apple
red banana

In [3]:
# 2. String splicing2

STR='HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain.'

print(STR[22:28],STR[97:103])

Humpty mptyDu

In [4]:
# 3. Counting DNA Nucleotides

STR2='AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC'

print("A :", STR2.count('A'))
print("G :", STR2.count('G'))
print("C :", STR2.count('C'))
print("T :", STR2.count('T'))

A : 20
G : 17
C : 12
T : 21

In [5]:
# 4. Transcribing DNA into RNA

DNA='GATGGAACTTGACTACGTAAATT'

print("RNA :", DNA.replace('T','U'))

RNA : GAUGGAACUUGACUACGUAAAUU

In [7]:
# 5. Complementing a Strand of DNA-1

DNA2 = 'AAAACCCGGT'
ch_DNA2 = DNA2.replace('A','a').replace('C','c').replace('G','g').replace('T','t')
ch_RNA2 = ch_DNA2.replace('a','T').replace('c','G').replace('g','C').replace('t','A')
RNA2=ch_RNA2[::-1]

print("결과 :", RNA2)

결과 : ACCGGGTTTT

In [20]:
# 5. Complementing a Strand of DNA-2

DNA3 = 'AAAACCCGGT'
ch_DNA3 = DNA3.replace('A','t').replace('C','g').replace('G','c').replace    ('T','a').upper()
RNA3=ch_DNA3[::-1]

print("결과 :", RNA3)

결과 : ACCGGGTTTT

In [ ]:
# 6. Complementing a Strand of DNA using Dictionary

# DNA3 = 'AAAACCCGGT'
# dic_DNA = {A:T, C:G, G:C, T:A}

#### 매우복잡합

In [ ]:
# conda activate py37
# which python

#### Data Structures
    - Primitive
        integer, Float, String, Boolean
        : 기본적인 데이터를 저장하는 단위
     - Non-Primitive
         Array, List, Tuple, Dictionary, Set, File

In [13]:
# 문자열 포맷팅 : {}, format 사용

print("Hi I\'m {0} years old!".format(3))

print("{1} I\'m {0} years old!".format(3, 'Hello'))

print("I\'m %d years old!'"%3)

# print("I\'m %d years old!'"%'3') # %d로 입력했으니 string으로 넣으면 먹히지 않음 

print("{1} I\'m {0} years old!".format(3, '55555')) # 이건 string형태로 해도 먹힘

Hi I'm 3 years old!
Hello I'm 3 years old!
I'm 3 years old!'
55555 I'm 3 years old!

In [16]:
## 예제 
## comma를 제거하고 100을 더하기 

CMA = '1,234,567'

CMA2 = CMA.replace(',', '') # comma removal

CMA3 = int(CMA2) # change type of CMA

CMA4 = CMA3 + 100 # plus 100

print(CMA4)


# 한줄로 입력하면 / 현업에서는 위의 식으로 작성하는게 좋음(알아보기 쉽고, 수정하기 쉬우니까)

CMA5 = int(CMA.replace(',', '')) + 100

print(CMA5)


# string으로 +100을 할 시에는 

CMA6 = CMA2 + '100'

print(CMA6) # 100이 뒤에 붙게된다

1234667
1234667
1234567100

#### List

    여러 변수를 한꺼번에 관리할 수 있음 
    
    - 함수
        append
        remove
        del
        insert
        pop

In [17]:
## list 사용하지않을 때는 길고 불편함 
coffee_class1 = 10
coffee_class2 = 14
coffee_class3 = 15
# 추가시
coffee_class4 = 5

## list 사용
coffee = [10, 14, 15]
# list에 추가시
coffee.append(5)

In [21]:
## list
coffee = [10, 14, 15]

# append
coffee.append(5)
print(coffee)

# remove : element의 값을 정확히 알고있어야함 
coffee.remove(14)
print(coffee)

# coffee.remove(13) # list안에 들어있지 않으면 오류남

# del : 인덱스 기반으로 list 삭제
del coffee[2]
print(coffee)

# insert : 인덱스 기반으로 list 삽입
coffee.insert(2, 3) # 2라는 인덱스에 3을 넣겠다
print(coffee)

[10, 14, 15, 5]
[10, 15, 5]
[10, 15]
[10, 15, 3]

In [31]:
## list
waiting = [1, 2, 3, 4, 5]

# pop : 0을 넣으면 index 0번부터 pop 먹힘
print(waiting.pop(0))

print("{0}번 손님 오세요!".format(waiting.pop(0)))

print(waiting)

waiting.append(6)

print(waiting)

print("{0}번 손님 오세요!".format(waiting.pop(0)))
print("{0}번 손님 오세요!".format(waiting.pop(0)))
print("{0}번 손님 오세요!".format(waiting.pop(0)))
print(waiting)

# 손님 번호 겹치지 않도록 하기 
print(type(waiting[-1]))

last_wait = waiting[-1] + 1 # 마지막 번호에 +1 시키기
print(last_wait)

waiting.append(last_wait) # list에 번호 추가시키기
print(waiting)

print("{0}번 손님 오세요!".format(waiting.pop(0)))

1
2번 손님 오세요!
[3, 4, 5]
[3, 4, 5, 6]
3번 손님 오세요!
4번 손님 오세요!
5번 손님 오세요!
[6]
<class 'int'>
7
[6, 7]

In [47]:
## 예제
## lang0와 lang1의 원소를 모두 갖고 있는 totalLang 리스트를 만들어보세요
lang0 = ["Python", "JAVA"]
lang1 = ["C", "C++", "VB"]

totalLang = lang0 + lang1

print(totalLang) # 결과값 []로 나타남

['Python', 'JAVA', 'C', 'C++', 'VB']

#### Tuple
    - 값 수정, 삭제 불가 
    - ()로 정의

In [46]:
print(tuple(totalLang)) # 결과값 ()로 나타남, 값이 변경되지않음

myTuple = (1, 2, 5)
print(myTuple)

('Python', 'JAVA', 'C', 'C++', 'VB')
(1, 2, 5)

#### Dictionary
    - 형태 : {key:value}
    - key가 중복되면 나중에 입력된 결과값만이 출력된다
    - 함수
        keys
        values
        items
        clear
        get
        in

In [1]:
## dictionary
d_fruit = {'price':1000, 'name':'apple', 'price':2000, 'tree':'apple tree', 
           100:200, 300:'three hundred'}

print(d_fruit['price'])
print(d_fruit[100])
print(d_fruit[300])

# keys
print(d_fruit.keys()) # list형태로 결과가 제시됨 

# in
# dictionary 안에 tree라는 key가 있는가?
print('tree' in d_fruit.keys()) # true

# get
print(d_fruit['tree']) # apple tree
print(d_fruit.get('tree')) # apple tree

# values
print(d_fruit.values())
print(1000 in d_fruit.values())

# items
# dictionary 생긴거 확인 
print(d_fruit)
print(d_fruit.items()) #tuple로 묶인 list로 반환됨

# clear
print(d_fruit)
print(d_fruit.clear()) # None # 반환값이 없다 
print(d_fruit)

2000
200
three hundred
dict_keys(['price', 'name', 'tree', 100, 300])
True
apple tree
apple tree
dict_values([2000, 'apple', 'apple tree', 200, 'three hundred'])
False
{'price': 2000, 'name': 'apple', 'tree': 'apple tree', 100: 200, 300: 'three hundred'}
dict_items([('price', 2000), ('name', 'apple'), ('tree', 'apple tree'), (100, 200), (300, 'three hundred')])

In [43]:
# 딕셔너리 활용 - int
"""
딕셔너리를 이용한 계산으로 생년월일중 월-일을 출력하세요
regNum0 = 981213-000000
regNum1 = 960125-000000
regNum2 = 970705-000000

출력값
regNum0 : Dec-13
regNum1 : Jan-25
regNum2 : Jul-05
"""

d_reg = {'regNum0':'951213-000000', 'regNum1':'960125-000000', 'regNum2':'970705-000000'}
d_month = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 
           7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}

# regNum0
Num0_m = d_month[int(d_reg['regNum0'][2:4])] 
Num0_d = d_reg['regNum0'][4:6]
print("regNum0 : ", Num0_m, "-", Num0_d)

# regNum1
Num1_m = d_month[int(d_reg['regNum1'][2:4])] # d_month[d_reg['regNum1'][2:4].lstrip('0')]
Num1_d = d_reg['regNum1'][4:6]
print("regNum1 : ", Num1_m, "-", Num1_d)

# regNum2
Num2_m = d_month[int(d_reg['regNum2'][2:4])]
Num2_d = d_reg['regNum2'][4:6]
print("regNum2 : ", Num2_m, "-", Num2_d)

regNum0 :  Dec - 13
regNum1 :  Jan - 25
regNum2 :  Jul - 05

In [44]:
# 딕셔너리 활용 - str
"""
딕셔너리를 이용한 계산으로 생년월일중 월-일을 출력하세요
regNum0 = 981213-000000
regNum1 = 960125-000000
regNum2 = 970705-000000

출력값
regNum0 : Dec-13
regNum1 : Jan-25
regNum2 : Jul-05
"""

d_reg = {'regNum0':'951213-000000', 'regNum1':'960125-000000', 'regNum2':'970705-000000'}
d_Month = {'01':'Jan', '02':'Feb', '03':'Mar', '04':'Apr', '05':'May', '06':'Jun', 
           '07':'Jul', '08':'Aug', '09':'Sep', '10':'Oct', '11':'Nov', '12':'Dec'}

# regNum0
Num0_M = d_Month[d_reg['regNum0'][2:4]]
Num0_D = d_reg['regNum0'][4:6]
print("regNum0 : ", Num0_M, "-", Num0_D)

# regNum1
Num1_M = d_Month[d_reg['regNum1'][2:4]]
Num1_D = d_reg['regNum1'][4:6]
print("regNum1 : ", Num1_M, "-", Num1_D)

# regNum2
Num2_M = d_Month[d_reg['regNum2'][2:4]]
Num2_D = d_reg['regNum2'][4:6]
print("regNum2 : ", Num2_M, "-", Num2_D)

regNum0 :  Dec - 13
regNum1 :  Jan - 25
regNum2 :  Jul - 05

#### 집합 (★set 코딩테스트에 항상 나옴)

    중복 허용하지 않음 -> unique한 element를 가짐
    순서 없음 -> 속도가 어어엄청 빠름
    
    set
        {} 사용
        
    - 마크로젠 코딩테스트 -
       파일 받아와서 넣기도 해야함
       A교B B교C union하기

In [49]:
a = {2, 4, 6, 8, 10, 12}
b = {3, 6, 9, 12}

a |= {100}
print(a)

b.add(11)
print(b)

b.update({30}) # set {}으로 넣어줘야함
print(b)

b |= {30}
print(b)

{2, 4, 100, 6, 8, 10, 12}
{3, 6, 9, 11, 12}
{3, 6, 9, 11, 12, 30}
{3, 6, 9, 11, 12, 30}

#### 불리언

    True, False
    여기에는 값 지정 X

    bool 
        비어있으면 False
            bool(0)  False
            bool('')  False 
            bool({})  False

In [56]:
l_list = [1, 2, 3]
l_list.pop(0)
bool(l_list) # True
l_list.pop(0)
bool(l_list) # True
l_list.pop(0)
bool(l_list) # False : 비어있으니

False

## 제어문
    
    조건을 판단하여 작성자가 원하는 방식, 상황에 맞는 방식으로 수행하게 함
    
    if
    while
    for
    
    들여쓰기
        tab or 4space (4space를 더 많이 씀)
        같은 블록에서 혼용 불가 
        vim 설정으로 tab -> 4 space 설정 가능

#### input
    사용자 입력을 받는 프롬프트를 출력함

In [57]:
userInput = input("Write your age: ")
print("You are {0} years old.".format(userInput))

Write your age: 2
You are 2 years old.

#### if

In [58]:
# if
cond = 1 # True

if cond : 
    print('Hi')

Hi

In [62]:
# True
cond = 1

if cond :    
    print("A")
    print("B")

A
B

In [63]:
# False
cond = 0

if cond :
    print("A") # cond이 False이므로 if에 있는 코드가 실행되지 않고 else의 Z만이 실행됨 
    print("B")
    
else : 
    print("Z")
    
print("good bye~") # true 던 false던 간에 good bye 나오도록

Z
good bye~

In [64]:
# 입력
cond = int(input("write cond : ")) # input으로 들어가면 string으로 읽힘 그래서 int로 바꿔줌 

if cond :
    print("A") # cond이 False이므로 if에 있는 코드가 실행되지 않고 else의 Z만이 실행됨 
    print("B")
    
else : 
    print("Z")
    
print("good bye~") # true 던 false던 간에 good bye 나오도록

# cond에 0을 넣으면 False이므로 else의 Z 값이 나오게 됨
# cond에 1을 넣으면 True이므로 if의 A, B 값이 나오게 됨

write cond : 1
A
B
good bye~

In [66]:
# 조건 지정
a = int(input("write a : ")) 

cond = a < 5 # 조건 지정

if cond :
    print("A") 
    print("B")
    
else : 
    print("Z")
    
print("good bye~") 
# a 값이 5보다 작으면 A, B 나옴
# a 값이 5보다 크면 Z 나옴

write a : 0
A
B
good bye~

In [69]:
# if
"""
큰 수 출력하기 
num0, num1 두 개 숫자 중 큰 숫자를 출력하세요
num0과 num1은 input으로 만들기

출력 : 7
"""

num0 = int(input("Write num0 : "))
num1 = int(input("Write num1 : "))

if num0 > num1 :
    print(num0)
    
else :
    print(num1)

Write num0 : 1
Write num1 : 2
2

In [72]:
# if - 강사님
"""
큰 수 출력하기 
num0, num1 두 개 숫자 중 큰 숫자를 출력하세요
num0과 num1은 input으로 만들기

출력 : 7
"""

num0 = int(input("Write num0 : "))
num1 = int(input("Write num1 : "))

cond = (num0 <= num1)

if cond :
    print(num1, end = ' ')
    
else :
    print(num0, end = ' ')
print("is larger")

Write num0 : 2
Write num1 : 6
6 is larger

In [78]:
# elif - 강사님
"""
큰 수 출력하기 
num0, num1 두 개 숫자 중 큰 숫자를 출력하세요
num0과 num1은 input으로 만들기

출력 : 7
"""

num0 = int(input("Write num0 : "))
num1 = int(input("Write num1 : "))

if num0 < num1 :
    print("{0} is larger".format(num1))
    
elif num0 == num1 : 
    print("same")
    
else :
    print("{0} is larger".format(num0))

Write num0 : 5
Write num1 : 5
same

In [84]:
# if
"""
점수 지정하기
점수를 입력받아 학점을 출력하세요
90 -100 A
80 - 89 B
70 -79 C
60 - 69 D
-59 F

입력 : 95
출력 : A

입력 : 71
출력 : C
"""

ans = int(input("점수 입력 :"))


if ans > 100 : 
    print("Wrong")

elif ans < 0 :
    print("Wrong")
    
elif ans >= 90 :
    print("A")
    
elif 90 > ans >= 80 : 
    print("B")
    
elif 80 > ans >= 70 : 
    print("C")
    
elif 70 > ans >= 60 : 
    print("D")
    
else : 
    print("F")

점수 입력 :-2
Wrong

In [ ]:
# if - 강사님
"""
점수 지정하기
점수를 입력받아 학점을 출력하세요
90 -100 A
80 - 89 B
70 -79 C
60 - 69 D
-59 F

입력 : 95
출력 : A

입력 : 71
출력 : C
"""

ans = int(input("점수 입력 :"))

if 100 >= ans >= 90 :
    print("A")
    
elif ans >= 80 :# 어짜피 if문에서 90이상은 걸러주니 90 > ans >= 80 이라 안써도 됨
    print("B")
    
elif ans >= 70 : 
    print("C")
    
elif ans >= 60 : 
    print("D")
    
else : 
    print("F")

In [11]:
# dictionary ★중요
"""
달러, 유로, 엔, 위안 금액을 입력받아 원화(KRW)로 변환하세요

USD : 1,203.82
EUR : 1,365.73
JPY : 11.22
CNY : 172.04

- dictionary로 만들기
- comma도 지우기
- 입력 input으로 하지말기 

입력 : '10 USD, 5 EUR, 7 JPY, 9 CNY'
출력 : 12038.2 KRW, 6828.65 KRW, 78.54 KRW, 1548.36 KRW

# 10 USD 가 추가로 들어오면 어떻게 작성해야하는건가?
"""

calc = '10 USD, 5 EUR, 7 JPY, 9 CNY'
d_ratio = {'USD':'1,203.82', 'EUR':'1,365.73', 'JPY':'11.22', 'CNY':'172.04'}

# calc
calc_replace = calc.replace(",", "")
calc_split = calc_replace.split()

c_USD = int(calc_split[0])
c_EUR = int(calc_split[2])
c_JPY = int(calc_split[4])
c_CNY = int(calc_split[6])

# d_ratio
m_USD = float(d_ratio['USD'].replace(',',''))
m_EUR = float(d_ratio['EUR'].replace(',',''))
m_JPY = float(d_ratio['JPY'].replace(',',''))
m_CNY = float(d_ratio['CNY'].replace(',',''))

# 계산
cal_USD = round(c_USD * m_USD, 2)
cal_EUR = round(c_EUR * m_EUR, 2)
cal_JPY = round(c_JPY * m_JPY, 2)
cal_CNY = round(c_CNY * m_CNY, 2)

# 출력
print(cal_USD, "KRW,", cal_EUR, "KRW,", cal_JPY, "KRW,", cal_CNY, "KRW")

12038.2 KRW, 6828.65 KRW, 78.54 KRW, 1548.36 KRW

In [15]:
d_ratio = {'USD':'1,203.82', 'EUR':'1,365.73', 'JPY':'11.22', 'CNY':'172.04'}

calc_split

nation = ['USD', 'EUR', 'JPY', 'CNY']
money = []

for i in nation :
    
    nation_name = "m_" + str(i)
    
    nation_name = float(d_ratio[i].replace(',',''))
#     print(nation_name, "=", float(d_ratio[i].replace(',','')))

m_USD = 1203.82
m_EUR = 1365.73
m_JPY = 11.22
m_CNY = 172.04

In [ ]:
region_num = "region_" + str(j)